:root {
    /* displays */
    --mobile: 375px;
    --desktop: 1440px;

    /* colors */
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: #252d37;
    --very-dark-blue: #121417;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.card p {
    font-size: 15px;
    color: var(--light-grey);
    width: 100%;
}

.card {
    margin: 200px auto;
    background: rgb(37, 45, 55);
    background: linear-gradient(190deg, rgba(37, 45, 55, 1) 0%, rgba(18, 20, 23, 1) 95%);
    text-align: left;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
}

.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--dark-blue);
    border-radius: 50%;
}

.icono svg {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card fieldset {
    border: none;
}

.card legend {
    font-weight: bold;
    padding-top: 20px;
}

.card fieldset legend {
    border: 0;
}

.selecciones {
    display: flex;
    justify-content: space-between;
}

.selecciones input {
    display: none;
}

.selecciones label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    padding-top: 3px;
    margin: 0;
    color: var(--medium-grey);
}
.selecciones label:hover{
    background-color: var(--orange);
    color: var(--white);
}
.selecciones label,
.submit{
    cursor: pointer;
}
.submit{
    display: inline;
    background-color: var(--orange);
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
}
.submit:hover{
    background-color: var(--white);
    color: var(--orange);
}

.selecciones label.seleccionado{
    background-color: var(--medium-grey);
    color: var(--white);
}

.selected{
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-top: 15px;
}
.selected-number{
    background-color: var(--dark-blue);
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--orange);
}
.icono-thanks{
    text-align: center;
}
.thanks{
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}